@using System.Web.UI.WebControls
@using FluentSharp.CoreLib
@model Tuple<List<SalesForAmazon.Models.Category>, PagedList.IPagedList < SalesForAmazon.Models.Book >>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-3">
        <div class="">
            <div class="col-md-5">
                <h6> Item per page</h6>
            </div>
            <div class="col-md-7">
                @using (Html.BeginForm())
                {
                    <div id="pro_pag2">
                        @Html.DropDownList("PageSize", (SelectList)ViewBag.dropdownCount,
                            new { id = "pagesizelist"})
                    </div>
                    <div>
                        @Html.DisplayName("Categories")
                    </div>
                    <ul>
                        @foreach (var item in Model.Item1)
                        {
                            <li>
                                @*@Html.ActionLink(item.Name, "Index", new { id = item.UrlName })*@
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="col-md-9">
        @*@Html.Partial("BooksList", Model.Item2);*@
    </div>
</div>
@section Scripts {
<script type="text/javascript">
    $('#pagesizelist').on('change', function (event) {
        var form = $(event.target).parents('form');
        form.submit();
    });
</script>
}