@using BookParser
@model Tuple<List<SalesForAmazon.Models.Category>, IEnumerable<SalesForAmazon.Models.Book>>

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@


    <div class="row">
        <div class="col-md-3">
            <div class="text-center">
                @Html.DisplayName("Categories")
            </div>
            
            <ul>
                @foreach (var item in Model.Item1)
                {
                     @* @Html.DisplayFor(modelItem => item.Name)*@
                    <li>
                        @Html.ActionLink(item.Name, "Index", new { id = item.Name.ParseURL() })
                    </li>
                }
            </ul>

        </div>

        <div class="col-md-9">
           @Html.Partial("BooksList", Model.Item2);
        </div>

    </div>
